Support Vector Machine (SVM)
- Linear 
- Non linear

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv("iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
x=df.iloc[:,2:5]
x

     SepalWidthCm  PetalLengthCm  PetalWidthCm
0             3.5            1.4           0.2
1             3.0            1.4           0.2
2             3.2            1.3           0.2
3             3.1            1.5           0.2
4             3.6            1.4           0.2
..            ...            ...           ...
145           3.0            5.2           2.3
146           2.5            5.0           1.9
147           3.0            5.2           2.0
148           3.4            5.4           2.3
149           3.0            5.1           1.8

[150 rows x 3 columns]

In [4]:
y=df.iloc[:,5]
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [12]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=0.8)

In [13]:
from sklearn.svm import SVC # SVC- support vector classifier , SVR - Support Vector Regresssor
svc_model=SVC()

In [14]:
svc_model.fit(xtrain,ytrain)

SVC()

In [15]:
ans=svc_model.predict(xtest)
ans

array(['Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [16]:
svc_model.score(xtest,ytest)

0.9666666666666667

In [17]:
df2=pd.read_csv("Salaries.csv")
df2

                      Position  Level  Salaries
0  Associate Software Engineer      1     45000
1            Software Engineer      2     50000
2          Software Engineer 1      3     60000
3          Software Engineer 2      4     80000
4     Senior Software Engineer      5    100000
5              Product Manager      6    125000
6           Consultant Manager      7    150000
7            Principal Manager      8    200000
8                          CTO      9    250000
9                          CEO     10    300000